page-login {
	.logo {
		margin-left: 15px;
		padding-top: 50px;
		color: map-get($colors, primary);
		font-size: 35px;
	}

	.aligner {
		margin: 20px  0 0 15px;
	}

	ion-label {
		color: map-get($colors, primary);
		font-size: 25px;
	}

	ion-input {
		color: map-get($colors, dark);
		font-size: 25px;
	}

	.p-danger {
		margin: 15px;
		color: map-get($colors, danger);
	}
}
