<ion-header>

  <ion-navbar>
    <ion-title>Manage Item Orders</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>
    <ion-item-divider color="primary">Selected Site : {{selectedSite}} Approved Inventory Item Status</ion-item-divider>
	<ion-item color="secondary">
      <ion-label>
      	{{selectedItem.item}}
      </ion-label>
      <ion-label>
        {{selectedItem.quantity}}
      </ion-label>
      <ion-label>
        {{selectedItem.uom}}
      </ion-label>
	</ion-item>
  </ion-item-group>
  <ion-item-group *ngFor="let order of selectedItem.orders">
      	<ion-item-divider color="primary"> 
      		Order : {{order.orderId}} 
      		<ion-badge *ngIf="order.orderStatus == 'Complete'" color="secondary">Satus: {{order.orderStatus}} </ion-badge>
      		<ion-badge *ngIf="order.orderStatus != 'Complete'" color="danger">Satus: {{order.orderStatus}} </ion-badge>

      		<ion-fab right>
	  			<ion-icon name="arrow-dropdown"></ion-icon>
	  		</ion-fab>
      	</ion-item-divider>
		<ion-item color="light">
			<ion-label>Vendor</ion-label>
			<ion-label>{{order.vendorName}}</ion-label>
		</ion-item>
		<ion-item color="light">
			<ion-label>Contact</ion-label>
			<ion-label>{{order.vendorContact}}</ion-label>
		</ion-item>
		<ion-item color="light">
			<ion-label>Currency</ion-label>
			<ion-label>{{order.currency}}</ion-label>
		</ion-item>		
		<ion-item color="light">
			<ion-label>Unit Price</ion-label>
			<ion-input
				*ngIf="!order.approved && order.orderStatus != 'Complete'" 
				[(ngModel)] = "order.unitPrice" 
				type="text"   
				#unitPrice="ngModel"
				(change) = "setTotalPrice(order)">		
			</ion-input>
			<ion-label *ngIf="order.orderStatus == 'Complete'">{{order.unitPrice}}</ion-label>
		</ion-item>			
		<ion-item color="light">
			<ion-label>Quantity</ion-label>
			<ion-input
				*ngIf="!order.approved && order.orderStatus != 'Complete'" 
				[(ngModel)] = "order.quantity" 
				type="text"   
				#quantity="ngModel"
				(change) = "setTotalPrice(order)">		
			</ion-input>
			<ion-label *ngIf="order.orderStatus == 'Complete'">{{order.quantity}}</ion-label>
		</ion-item>
		<ion-item color="light">
			<ion-label>Tax</ion-label>
			<ion-input
				*ngIf="!order.approved && order.orderStatus != 'Complete'" 
				[(ngModel)] = "order.tax" 
				type="text"   
				#tax="ngModel"
				(change) = "setTotalPrice(order)">		
			</ion-input>
			<ion-label *ngIf="order.orderStatus == 'Complete'">{{order.tax}}</ion-label>
		</ion-item>	
		<ion-item color="light">
			<ion-label>Total Price</ion-label>
			<ion-input
				disabled="true"
				*ngIf="!order.approved && order.orderStatus != 'Complete'" 
				[(ngModel)] = "order.totalPrice" 
				type="text"   
				#tax="ngModel">		
			</ion-input>
			<ion-label *ngIf="order.orderStatus == 'Complete'">{{order.totalPrice}}</ion-label>
		</ion-item>									
		<ion-item color="light">
			<ion-label>Challan</ion-label>
			<ion-label *ngIf="order.approved || order.orderStatus == 'Complete'">{{order.challan}}</ion-label>
			<ion-input
				*ngIf="!order.approved && order.orderStatus != 'Complete'" 
				[(ngModel)] = "order.challan" 
				type="text"   
				#challan="ngModel">		
			</ion-input>			
		</ion-item>
	    <ion-item color="light">	
			<ion-label>Invoice</ion-label>
			<ion-label *ngIf="order.approved || order.orderStatus == 'Complete'">{{order.invoice}}</ion-label>
			<ion-input
				*ngIf="!order.approved && order.orderStatus != 'Complete'" 
				[(ngModel)] = "order.invoice" 
				type="text"   
				#invoice="ngModel">		
			</ion-input>			
		</ion-item>
	    <ion-item color="light" *ngIf="order.approved && order.totalPrice > order.totalPayment">
	        <ion-label>Payment So Far {{order.currency}}</ion-label>
	        <ion-input 
	        disabled=true
	        [(ngModel)] = "order.totalPayment" 
	        type="text"   
	        #totalPayment="ngModel">   
	        </ion-input>
	    </ion-item> 	
	    <ion-item color="light" *ngIf="order.approved && order.totalPrice > order.totalPayment">
	        <ion-label>Ballance {{order.currency}}</ion-label>
	        <ion-input 
	        disabled=true
	        [(ngModel)] = "order.ballance" 
	        type="text"   
	        #ballance="ngModel">   
	        </ion-input>
	    </ion-item>       
	    <ion-item color="light" *ngIf="order.approved && order.totalPrice > order.totalPayment">
	        <ion-label>Payment {{order.currency}}</ion-label>
	        <ion-input 
	        [(ngModel)] = "order.paidAmount" 
	        type="text"
	        (change)="setBallance(order)"   
	        #paidAmount="ngModel">   
	        </ion-input>
	    </ion-item> 

		<ion-item *ngIf="!order.approved">
			<button *ngIf="canApprove && order.orderStatus != 'Complete'" disabled="true" color="light" ion-button> Approve </button> 
			<button *ngIf="canApprove && order.orderStatus == 'Complete'" color="primary" ion-button (click)="approveOrder(order)"> Approve </button> 

			<button *ngIf="order.orderStatus != 'Complete'" color="primary" ion-button (click)="completeOrder(order)"> Complete </button> 
		</ion-item>
	    <ion-item *ngIf="order.approved && order.totalPrice > order.totalPayment">
	        <button item-end color="warining" ion-button (click)="payBill(order)"> Pay </button>
	  	</ion-item>	
	  	<ion-item *ngIf="order.approved && order.totalPrice == order.totalPayment">
	  		Paid in Full
	  		<ion-icon item-start name="checkmark-circle" color="secondary"></ion-icon>
	  	</ion-item>			
  </ion-item-group> 
</ion-content>
