
<ion-header>

  <ion-navbar>
    <ion-title>Edit Inventory Item</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>
    <ion-item-divider color="primary">
    	INVENTORY | Site : {{displayText.siteName}}, Task : {{displayText.taskDescription}}
    </ion-item-divider>
	<ion-item color="light">
  		<ion-label>
  			<span class="_item_detail">{{selectedItem.item}}</span>
  		</ion-label>
  		<ion-label>
  			<span class="_item_detail">{{selectedItem.quantity}} {{selectedItem.uom}}</span>
  		</ion-label>
  	</ion-item>	
	<ion-item>
		<button color="primary" ion-button *ngIf="!selectedItem.approved" (click)="approveField()"> Approve </button>
		<button color="light" ion-button *ngIf="!canCreateNewOrder"> Create Order </button> 
		<button color="primary" ion-button *ngIf="canCreateNewOrder && canCreateOrder()"(click)="createOrder()"> Create Order </button> 
		<button color="primary" ion-button *ngIf="viewFinance() && canCreateOrder()" (click)="manageOrders()"> Manage Orders </button>  
	</ion-item>
  </ion-item-group>

  <ion-item-group *ngIf="availableGblConfig.length > 0 && selectedItem.approved">
      <ion-item-divider color="primary">Available Global Inventory</ion-item-divider>
      <ion-item color="light" *ngFor="let item of availableGblConfig">
          <ion-label>
          	<span class="_item_detail">{{item.item}}</span>
          </ion-label>
          <ion-label>
            <span class="_item_detail">{{item.quantity}} {{item.uom}}</span>
          </ion-label>
          <ion-label>
            <span class="_item_detail">At Site: {{item.currentLocation}}</span>
          </ion-label> 
           
          <button *ngIf="!canCreateNewOrder" item-end color="light" ion-button clear small> Select </button>       
          <button *ngIf="canCreateNewOrder && selectedItem.approved" item-end color="primary" ion-button clear small (click)="selectGlobalItem(item)"> Select </button>
      </ion-item> 
  </ion-item-group>

  <ion-item-group *ngIf="gblConfig.item != '' && canCreateNewOrder">
    <ion-item-divider color="primary">Global Item Request</ion-item-divider>
	<ion-item color="light">
		  <ion-label>Item</ion-label>
		  <ion-input
		  	disabled="true" 
			[(ngModel)] = "gblConfig.item" 
			type="text"   
			#item="ngModel">		
		  </ion-input>
	</ion-item>
	<ion-item color="light">
		  <ion-label>Current Location</ion-label>
		  <ion-input
		  	disabled="true" 
			[(ngModel)] = "gblConfig.currentLocation" 
			type="text"   
			#currentLocation="ngModel">		
		  </ion-input>
	</ion-item>	
	<ion-item color="light">
		  <ion-label>Available Quantity</ion-label>
		  <ion-input 
		  	disabled="true"
			[(ngModel)] = "gblConfig.quantity" 
			type="text"   
			#quantity="ngModel">		
		  </ion-input>
	</ion-item>
	<ion-item color="light">
		  <ion-label>UOM</ion-label>
		  <ion-input 
		    disabled="true"
			[(ngModel)] = "gblConfig.uom" 
			type="text"   
			#uom="ngModel">		
		  </ion-input>
	</ion-item>
	<ion-item color="light">
		  <ion-label>Requested Quantity</ion-label>
		  <ion-input 
			[(ngModel)] = "gblConfig.requestedQuantity" 
			type="text"   
			#requestedQuantity="ngModel">		
		  </ion-input>
	</ion-item>
	<ion-item>
		<button color="primary" ion-button (click)="requestGlobalItem()">
			Request
		</button>
	</ion-item>
  </ion-item-group>

  <ion-item-group *ngIf="!canRequest && canCreateNewOrder && pendingRequest.requestStatus != 'Complete' && pendingRequest.requestStatus != 'Cancelled'">
    <ion-item-divider color="primary">Pending Inventory Requests</ion-item-divider>
      	<ion-item color="light">
      		<ion-label>
      			<span class="_item_detail">{{pendingRequest.item}}</span>
      		</ion-label>
      		<ion-label>
      			<span class="_item_detail">{{pendingRequest.quantity}} {{pendingRequest.uom}}</span>
      		</ion-label>	
      		<ion-label>
      			<span class="_item_detail">{{pendingRequest.requestStatus}}</span>
      		</ion-label>		  			
      	</ion-item>
      	<ion-item *ngIf="canApprove">
	        <button color="primary" ion-button (click)="loadRequestData()">
	        	Details
	        </button>
      	</ion-item>
  </ion-item-group>

</ion-content>
