<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inventory Set Up</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header color="primary">
      Active Sites
    </ion-list-header>
    <ion-item-sliding *ngFor="let site of sites">
      <ion-item>
        <ion-icon name="list" item-left large color="secondary"></ion-icon>
        <h2>Project: {{site.projectId}}</h2>
        <p>Site: {{site.siteName}}</p>
        <p>{{site.address}}</p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="apemoss" (click)="loadTasks(site)" icon-start>
          <ion-icon name="list-box"></ion-icon>
          Load Tasks
        </button>
        <button ion-button color="secondary" (click)="loadSiteInfo(null)" icon-start>
          <ion-icon name="refresh"></ion-icon>
          Refresh Data
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="displayTask">
    <ion-list-header color="primary">
      Tasks for Selected Site: {{selectedSite}}
    </ion-list-header>
    <ion-item *ngIf="tasks.length == 0">
      <p>No Data Available</p>
    </ion-item>
    <ion-item-sliding *ngFor="let task of tasks">
      <ion-item>
        <ion-icon name="list-box" item-left large color="secondary"></ion-icon>   
        <h2 class="_task_desc">{{task.taskDescription}}</h2>
        <p>{{task.taskStatus}}</p>       
        <span class="_task_header">Financials ({{task.currency}})</span>
        <p class="_task_data" *ngIf="viewFinance(selectedSite)">Estimated Cost: {{task.estimatedCost}}</p>          
        <p class="_task_data" *ngIf="viewFinance(selectedSite)">Actual Cost: {{this.getTotalCost(task)}}</p>
        <p class="_task_data" *ngIf="viewFinance(selectedSite)">Paid: {{this.getTotalPayment(task)}}</p>   
      </ion-item>
      <ion-item-options>
        <button ion-button color="apemoss" (click)="loadInventoryDetail(task)" icon-start>
          <ion-icon name="pricetag"></ion-icon>
           Load Inventory
        </button>
        <button ion-button color="primary" (click)="loadLabourDetail(task)" icon-start>
          <ion-icon name="contact"></ion-icon>
           Load Labour
        </button> 
        <button ion-button color="secondary" (click)="loadTaskDetails(task)" icon-start>
          <ion-icon name="settings"></ion-icon>
           Manage Task
        </button>       
      </ion-item-options>
    </ion-item-sliding>
    <ion-item>
        <button ion-button color="primary" (click)="addtask(task)">
          Add Task
        </button> 
    </ion-item>
  </ion-list>
</ion-content>