<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inventory Set Up</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item-group>
      <ion-item-divider color="primary">Active Sites</ion-item-divider>
      <ion-item color="light" *ngFor="let site of sites">
          <ion-label>
            {{site.projectId}}
          </ion-label>
          <ion-label>
            {{site.siteName}}
          </ion-label>
          <button ion-button item-end (click)="loadTasks(site)">Load Tasks</button>
          <button ion-button item-end  color="secondary" (click)="loadSiteInfo()">Refresh Data</button>
      </ion-item>
  </ion-item-group>
  <ion-item-group *ngIf="displayTask">
      <ion-item-divider color="primary">Tasks : {{selectedSite}}</ion-item-divider>
      <p *ngIf="tasks.length == 0">No Data Available</p>
      <ion-item color="light" *ngFor="let task of tasks">
          <ion-label>
            {{task.taskId}}
          </ion-label>
          <ion-label>
            {{task.taskDescription}}
          </ion-label>
          <ion-label>
            <ion-icon *ngIf="task.taskStatus == 'Waiting'" color="primary" name="done-all"></ion-icon>
            <ion-icon *ngIf="task.taskStatus == 'Started'" color="secondary" name="done-all"></ion-icon>
            <ion-icon *ngIf="task.taskStatus == 'Complete'" color="apegrey" name="done-all"></ion-icon>
            <ion-icon *ngIf="task.taskStatus == 'Hold'" color="apeyellow" name="done-all"></ion-icon>
          </ion-label>
          <button ion-button item-end (click)="loadTaskDetails(task)">Details</button>
          <button ion-button item-end (click)="loadInventoryDetail(task)">Inventory</button>
          <button ion-button item-end (click)="loadLabourDetail(task)">Labour</button>
      </ion-item> 
      <ion-item>
        <button ion-button (click)="addtask()">New Task</button>    
      </ion-item>
  </ion-item-group> 
  <ion-item-group *ngIf="displayInventroy">
      <ion-item-divider color="primary">Site : {{selectedSite}}, Inventory for Task : {{selectedTask}}</ion-item-divider>
      <p *ngIf="inventory.length == 0">No Data Available</p>
      <ion-item color="light" *ngFor="let item of inventory">
          <ion-label>
            {{item.item}}
          </ion-label>
          <ion-label>
            {{item.quantity}}
          </ion-label>
          <ion-label>
            {{item.uom}}
          </ion-label>
          <button ion-button item-end  (click)="editinventory(item)">Manage Item</button>
      </ion-item>
      <ion-item>
        <button ion-button (click)="addinventory()">New Item</button>    
      </ion-item>
  </ion-item-group>
  <ion-item-group *ngIf="displayLabour">
      <ion-item-divider color="primary">Site : {{selectedSite}}, Labour for Task : {{selectedTask}}</ion-item-divider>
      <p *ngIf="labour.length == 0">No Data Available</p>
      <ion-item color="light" *ngFor="let item of labour">
          <ion-label>
            {{item.contractor}}
          </ion-label>
          <ion-label>
            {{item.contractType}}
          </ion-label>
          <ion-label>
            {{item.rate}}
          </ion-label>
      </ion-item>
      <ion-item>
        <button ion-button >New Labour</button>    
      </ion-item>
  </ion-item-group>  
</ion-content>