<!--
  Generated template for the SiteLabourEditBillingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Manage Billing</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>
    <ion-item-divider color="primary">Selected Site : {{selectedSite}}, Task Id {{selectedTask}}</ion-item-divider>
	<ion-item color="secondary">
      <ion-label>
      	{{selectedLabour.labourId}}
      </ion-label>
      <ion-label>
        {{selectedLabour.contractor}}
      </ion-label>
      <ion-label>
        {{selectedLabour.rate}}
      </ion-label>      
      <ion-label *ngIf="selectedLabour.contractType == 'per_hour'">Hourly</ion-label>
      <ion-label *ngIf="selectedLabour.contractType == 'per_day'">Daily</ion-label>
      <ion-label *ngIf="selectedLabour.contractType == 'per_week'">Weekly</ion-label>
      <ion-label *ngIf="selectedLabour.contractType == 'per_month'">Monthly</ion-label>
      <ion-label *ngIf="selectedLabour.contractType == 'full_payout'">Full Payout</ion-label>
      <ion-label *ngIf="selectedLabour.contractType == 'partial_payout'">Partial Payout</ion-label>
	</ion-item>
  </ion-item-group>
  <ion-item-group *ngFor="let bill of selectedLabour.billing">
  	<ion-item-divider color="primary">Bill: {{bill.billingId}}</ion-item-divider>
  	<ion-item *ngIf="!bill.approved">
      <ion-label>
        Created By: {{bill.createdBy}}
      </ion-label>  
      <ion-label>
        Create Date: {{bill.createDate}}
      </ion-label> 
  	</ion-item>  
  	<ion-item *ngIf="bill.approved">
      <ion-label>
        Approved By: {{bill.approvedBy}}
      </ion-label>  
      <ion-label>
        Approval Date: {{bill.approvalDate}}
      </ion-label> 
  	</ion-item>  			
  	<ion-item color="light" *ngIf="!bill.approved">
  		  <ion-label>Amount</ion-label>
        {{selectedLabour.currency}}
  		  <ion-input 
  			[(ngModel)] = "bill.billingAmount" 
  			type="text"   
  			#billingAmount="ngModel">		
  		  </ion-input>
  	</ion-item>	
  	<ion-item color="light" *ngIf="bill.approved">
  		  <ion-label>Amount</ion-label>
  		  <ion-label>{{bill.billingAmount}}</ion-label>
  	</ion-item>				
  	<ion-item color="light" *ngIf="!bill.approved">
  		  <ion-label>Invoice</ion-label>
  		  <ion-input 
  			[(ngModel)] = "bill.invoice" 
  			type="text"   
  			#invoice="ngModel">		
  		  </ion-input>
  	</ion-item>	
  	<ion-item color="light" *ngIf="bill.approved">
  		  <ion-label>Invoice</ion-label>
  		  <ion-label>{{bill.invoice}}</ion-label>
  	</ion-item>	
    <ion-item color="light" *ngIf="bill.approved && bill.billingAmount > bill.totalPayment">
        <ion-label>Payment So Far {{selectedLabour.currency}}</ion-label>
        <ion-input 
        disabled=true
        [(ngModel)] = "bill.totalPayment" 
        type="text"   
        #totalPayment="ngModel">   
        </ion-input>
    </ion-item>  
    <ion-item color="light" *ngIf="bill.approved && bill.billingAmount > bill.totalPayment">
        <ion-label>Ballance {{selectedLabour.currency}}</ion-label>
        <ion-input 
        disabled=true
        [(ngModel)] = "bill.ballance" 
        type="text"   
        #ballance="ngModel">   
        </ion-input>
    </ion-item>       
    <ion-item color="light" *ngIf="bill.approved && bill.billingAmount > bill.totalPayment">
        <ion-label>Payment {{selectedLabour.currency}}</ion-label>
        <ion-input 
        [(ngModel)] = "bill.paidAmount" 
        type="text"
        (change)="setBallance(bill)"   
        #paidAmount="ngModel">   
        </ion-input>
    </ion-item> 		
  	<ion-item *ngIf="!bill.approved && canApproveBill()">
        	<button color="primary" ion-button (click)="updateBilling(bill)"> Update </button>  	
        	<button color="primary" ion-button (click)="approveBilling(bill)"> Approve </button>
        	<button color="primary" ion-button (click)="removeBilling(bill)"> Delete </button>
  	</ion-item> 
    <ion-item *ngIf="bill.approved && bill.billingAmount > bill.totalPayment && canPayBill()">
        <button item-end color="primary" ion-button (click)="payBill(bill)"> Pay </button>
  	</ion-item>
    <ion-item *ngIf="bill.approved && bill.billingAmount == bill.totalPayment">
      Paid in Full
      <ion-icon item-start name="checkmark-circle" color="secondary"></ion-icon>
    </ion-item> 
  </ion-item-group>
</ion-content>
