<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Consume Inventory</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header color="primary">
      Active Sites
    </ion-list-header>
    <ion-item-sliding *ngFor="let site of sites">
      <ion-item>
        <h2>Project: {{site.projectId}}</h2>
        <p>Site: {{site.siteName}}</p>
        <p>{{site.address}}</p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="apemoss" (click)="loadTaskDetail(site)" icon-start>
          <ion-icon name="list-box"></ion-icon>
          Load Tasks
        </button>
        <button ion-button color="secondary" (click)="loadSiteInfo()" icon-start>
          <ion-icon name="refresh"></ion-icon>
          Refresh Data
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="displayTask">
    <ion-list-header color="primary">
      Tasks for Selected Site: {{selectedSite}}
    </ion-list-header>
    <ion-item *ngIf="tasks.length == 0">
      <p>No Data Available</p>
    </ion-item>
    <ion-item-sliding *ngFor="let task of tasks">
      <ion-item>
        <ion-icon name="list-box" item-left large color="secondary"></ion-icon>   
        <h2>{{task.taskDescription}} </h2>
        <p>Actual Cost: {{task.currency}} {{task.actualCost}}</p>
        <p>Estimated Cost: {{task.currency}} {{task.estimatedCost}}</p>
        <p>Paid: {{task.currency}} {{task.totalPayment}}</p>  
        <ion-note>{{task.taskStatus}}</ion-note>     
      </ion-item>
      <ion-item-options *ngIf="task.taskStatus == 'Started'">
        <button ion-button color="apemoss" (click)="loadInventoryDetail(task)" icon-start>
          <ion-icon name="pricetag"></ion-icon>
           Load Inventory
        </button>     
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> 
  <ion-item-group *ngIf="displayInventroy">
      <ion-item-divider color="primary">Site Inventory : {{selectedSite}}</ion-item-divider>
      <p *ngIf="inventory.length == 0">No Data Available</p>
      <ion-item color="light" *ngFor="let item of inventory">
          <ion-label>
            {{item.item}}
          </ion-label>
          <ion-label>
            {{item.quantity}}
          </ion-label>
          <ion-label>
            {{item.uom}}
          </ion-label>
          <button ion-button item-end color="secondary" (click)="consumeInventory(item)">Use Item</button>
      </ion-item>
  </ion-item-group>
</ion-content>
