<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Consume Inventory</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refresher-icon-color="secondary"
      refresher-text-color="secondary"
      pullingIcon="arrow-dropdown"
      pullingText="Refresh"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-list-header color="primary">
      Active Sites
    </ion-list-header>
    <ion-item-sliding *ngFor="let site of sites">
      <ion-item>
        <ion-icon name="list" item-left large color="secondary"></ion-icon>
        <h2>Project: {{site.projectId}} / {{site.siteName}}</h2>
        <p class="_headersubtext">{{site.address}}</p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" (click)="loadTaskDetail(site)" icon-start>
          <ion-icon name="list-box"></ion-icon>
          Load Tasks
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="displayTask">
    <ion-list-header color="primary">
      Tasks for Selected Site: {{selectedSite}}
    </ion-list-header>
    <ion-item *ngIf="tasks.length == 0">
      <p>No Data Available</p>
    </ion-item>
    <ion-item-sliding *ngFor="let task of tasks">
      <ion-item>
        <ion-icon name="list-box" item-left large color="secondary"></ion-icon>   
        <h2>{{task.taskDescription}} </h2>
        <p>Actual Cost: {{task.currency}} {{task.actualCost}}</p>
        <p>Estimated Cost: {{task.currency}} {{task.estimatedCost}}</p>
        <p>Paid: {{task.currency}} {{task.totalPayment}}</p>  
        <ion-note>{{task.taskStatus}}</ion-note>     
      </ion-item>
      <ion-item-options *ngIf="task.taskStatus == 'Running'">
        <button ion-button color="apemoss" (click)="loadInventoryDetail(task.taskId)" icon-start>
          <ion-icon name="pricetag"></ion-icon>
           Load Inventory
        </button>     
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> 
  <ion-item-group *ngIf="displayInventroy">
      <ion-item-divider color="primary">Site Inventory : {{selectedSite}}</ion-item-divider>
      <p *ngIf="inventory.length == 0">No Data Available</p>
      <ion-item color="light" *ngFor="let item of inventory">
          <ion-label>
            <span class="_item_detail">{{item.item}}</span>
          </ion-label>
          <ion-label>
            <span class="_item_detail">{{item.quantity}} {{item.uom}}</span>
          </ion-label>
          <button item-end color="primary" ion-button clear small (click)="consumeInventory(item)">Use Item</button>
      </ion-item>
  </ion-item-group>
</ion-content>
