<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Item Set Up</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  	<ion-item-group>
      	<ion-item-divider color="primary">Valid Inventory Items</ion-item-divider>
      	<ion-item color="light" *ngFor="let config of configData.items">
      		<ion-input 
				[(ngModel)] = "config.item" 
				type="text"   
				#item="ngModel">		
			</ion-input>
			<ion-input 
				[(ngModel)] = "config.dimension" 
				type="text"   
				#dimension="ngModel">		
			</ion-input>
			<ion-input 
				[(ngModel)] = "config.uom" 
				type="text"   
				#uom="ngModel">		
			</ion-input>	  			
			<button *ngIf="!config.canDelete" item-end color="light" ion-button (click)="removeError()">
				<ion-icon name="trash"></ion-icon>
			</button>
	        <button *ngIf="config.canDelete" item-end color="danger" ion-button (click)="removeconfig(config)">
	        	<ion-icon name="trash"></ion-icon>
	        </button>
      	</ion-item>
 		<ion-item>
			<button ion-button (click)="saveconfig()">Save Configuration</button>
			<button ion-button (click)="addinventory()">Add New Item</button>
		</ion-item>     
 </ion-item-group>

 <ion-item-group *ngIf="globalConfigData.items.length > 0">
    <ion-item-divider color="primary">
      Global Inventory
    </ion-item-divider>
      <ion-item color="light" *ngFor="let item of globalConfigData.items">
          <ion-label>
            <span class="_item_detail">{{item.item}}</span>
          </ion-label>
          <ion-label>
            <span class="_item_detail">{{item.quantity}} {{item.uom}}</span>
          </ion-label>
          <ion-label>
            <span class="_item_detail">At Site: {{item.currentLocation}}</span>
          </ion-label> 
          <button item-end color="primary" ion-button clear small (click)="loadItemRequests(item.item)"> Requests </button>
      </ion-item>      
 </ion-item-group>

 <ion-list *ngIf="itemRequests.length > 0">
    <ion-list-header color="primary">
      Item Requests
    </ion-list-header>
    <ion-item-sliding *ngFor="let r of itemRequests">
      <ion-item>
        <h2>{{r.item}}</h2>
        <p *ngIf="r.requestStatus == 'Open'">Requested Quantity :{{r.quantity}} {{r.uom}}</p>
        <p *ngIf="r.requestStatus != 'Open'">{{r.requestStatus}} Quantity :{{r.quantity}} {{r.uom}}</p>
        <p>Requesting Site :{{r.siteId}}</p>
      </ion-item>
      <ion-item-options>      
        <button ion-button color="primary" icon-start (click)="transferRequests(r)">
          <ion-icon name="list-box"></ion-icon>
            Manage Transfer
        </button> 
        <button ion-button color="danger" icon-start (click)="rejectRequests(r)">
          <ion-icon name="close"></ion-icon>
            Reject
        </button>               
      </ion-item-options>      
    </ion-item-sliding>
 </ion-list>
</ion-content>
