<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Item Set Up</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  	<ion-item-group>
      	<ion-item-divider color="primary">Inventory Items</ion-item-divider>
      	<ion-item color="light" *ngFor="let config of configData.items">
      		<ion-input 
				[(ngModel)] = "config.item" 
				type="text"   
				#item="ngModel">		
			</ion-input>
			<ion-input 
				[(ngModel)] = "config.dimension" 
				type="text"   
				#dimension="ngModel">		
			</ion-input>
			<ion-input 
				[(ngModel)] = "config.uom" 
				type="text"   
				#uom="ngModel">		
			</ion-input>
			<button *ngIf="!config.canDelete" item-end color="light" ion-button (click)="removeError()"> Remove </button>
	        <button *ngIf="config.canDelete" item-end color="danger" ion-button (click)="removeconfig(config)"> Remove </button>
      	</ion-item>
 		<ion-item>
			<button ion-button (click)="saveconfig()">Save Configuration</button>
			<button ion-button (click)="addinventory()">Add New Item</button>
		</ion-item>     
  	</ion-item-group>
</ion-content>
